@{ ViewData["Title"] = "About";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<body style="background-color: #d9bfad;">
    <h2>Help</h2>
    <div style="background-color: white;">
        <p>If you have any issues regarding the Form please contact us.</p>
        <ul>
            <l1>Phone No: XXXXXXXXXX</l1>
            <l1>E-mail: XXXXXXXXXX</l1>
        </ul>
    </div>
</body>
